<html>
<head>
    <meta charset="utf-8">
    <title>Activity</title>
    <link rel="stylesheet" href="../../public/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Activity Tracker</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events">Events</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/createEvents">Create <span class="sr-only">(current)</span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/userListing">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">Contact Us</a>
                    </li>
                </ul>
                 <ul class="navbar-nav my-1 my-lg-0" style="padding-right:2em">
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{currUser}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/profile">My Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <main style="background-image: url('../../public/images/background.jpg'); background-repeat: no-repeat; ">

        <div class="card">
            <div class="card-body">
                <h1 class="display-4 text-center" >Create your Event</h1>
            </div>
        </div>
        <br/>

        <div class="card col-lg-6" style="margin: 0 auto; width:80%;">
            <ul class="list-group">
                {{#each errors}}
                    <li class="list-group-item list-group-item-danger">{{ this }}</li>
                {{/each}}
            </ul>
                <form method="POST" enctype="multipart/form-data">

                    <br/>

                    <div class="form-group">
                        <label for="eventName">Event Name</label>
                        <input type="text" required="true" class="form-control" id="eventName" name="eventName" value="{{ event.eventName }}">
                    </div>

                    <div class="form-group">
                        <label for="eventDate">Event Date</label>
                        <input type="Date" class="form-control" id="eventDate" name="eventDate" required="true" value="{{ event.eventDate }}">
                    </div>

                    <div class="form-group">
                        <label for="eventAddressLine1">Address Line 1</label>
                        <input type="text" class="form-control" id="eventAddressLine1" name="eventAddressLine1" required="true" value="{{ event.eventAddressLine1 }}">
                    </div>

                    <div class="form-group">
                        <label for="eventAddressLine2">Address Line 2</label>
                        <input type="text" class="form-control" id="eventAddressLine2" name="eventAddressLine2"  value="{{ event.eventAddressLine2 }}">
                    </div>

                    <div class="form-group">
                        <label for="eventCity">City / Town</label>
                        <input type="text" class="form-control" id="eventCity" required="true" name="eventCity"  value="{{ event.eventCity }}">
                    </div>

                    <div class="form-group">
                        <label for="eventState">State / Province / Region</label>
                        <input type="text" class="form-control" id="eventState" required="true" name="eventState" value="{{ event.eventState }}">
                    </div>

                    <div class="form-group">
                        <label for="eventZipCode">Zip / Postal Code</label>
                        <input type="text" class="form-control" id="eventZipCode" required="true" name="eventZipCode" value="{{ event.eventZipCode }}">
                    </div>

                    <div class="form-group">
                        <label for="eventCountry">Country</label>
                        <input type="text" class="form-control" id="eventCountry" required="true" name="eventCountry" value="{{ event.eventCountry }}">
                    </div>

                    <div class="form-group">
                        <label for="eventStartTime">Start Time</label>
                        <input type="time" class="form-control" id="eventStartTime" required="true" name="eventStartTime">
                    </div>

                    <div class="form-group">
                        <label for="eventEndTime">End Time</label>
                        <input type="time" class="form-control" id="eventEndTime" required="true" name="eventEndTime">
                    </div>

                    <div class="form-group">
                        <label for="eventDescription">Description</label>
                        <textarea class="form-control" rows="5" id="eventDescription" required="true" name="eventDescription" value="{{ event.eventDescription }}"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="eventTags">Tags</label>
                        <textarea class="form-control" rows="2" id="eventTags" placeholder="Separate each tag by ','" name="eventTags"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="eventRequirements">Requirements</label>
                        <textarea class="form-control" rows="2" id="eventRequirements" name="eventRequirements" placeholder="Separate each requirement by ','"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="eventRegisterationLimit">Limit</label>
                        <input type="number" class="form-control" id="eventRegisterationLimit" name="eventRegisterationLimit" value="{{ event.eventRegisterationLimit }}">
                    </div>
					
					<div class="file-field input-field" >
						<div class="btn grey">
							<span>Upload Image</span>
							<input name="eventImage" type="file">
						</div>
					</div>

                    <button type="submit" value="Submit" id="submit" class="btn btn-outline-success" formaction="/createEvent">Create</button>
                    {{!-- <button type="submit" class="btn btn-outline-danger">Cancel</button> --}}
                </form>
            </div>
        </div>

    </main>
    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
	<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
<script>
filterXSS('<script>alert("xss");</scr' + 'ipt>');
</script> 
	
	</body>
</html>